@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)), url(../image/img.jpg);
	background-size: cover;
	background-position: center;
}
.container{
	width: 1140px;
	margin: 0 auto;
}



/*menubar start*/
.header{
	display: flex;
	justify-content: space-between;
	color: white;
}
.menu-bar{
	line-height: 40px;
}
.menu-bar ul{
	font-size: 18px;
}
.menu-bar ul li{
	list-style: none;
	display: inline-block;

}
.menu-bar ul li a{
	text-decoration: none;
	margin-left: 16px;
	color:white;
	font-size: 14px;
	font-weight: 300;
}
.button{
	border: 1px solid white;
	border-radius: 20px;
	padding: 5px 18px;
}
/*menubar End*/




/*logo Start*/
.logo{
	text-transform: uppercase;
	margin: 10px;
}
.logo h2{
	font-size: 20px;
}
.logo h4{
	font-size: 16px;
	font-weight: 200;
}

/*logo End*/


/*title Start*/

.title{
	padding: 200px;
	text-align: center;
	color: white;
}
.title h3{
	font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}
.title h1{
	font-size: 56px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 18px;

}
.title button{
    background-color: #fb2056;
    color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase
}

/*title End*/


.banner-footer{
	padding: 80px 0;
	text-align: center;
	background-color: #f4f5f9;
	
}
.quote h4{
	color: #515863;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
}
.quote h3{
	color: #8c949c;
	font-size: 18px;
	font-weight: 500;
}
.upcoming{
	text-align: center;
}
.events{
	margin: 80px 0;
}
.events h2{
	margin-bottom: 40px;
}
.box{
	display: flex;
	justify-content: center;
}
.box-1,.box-2{
	padding: 10px;
}
.box-1 img{
	width: 300px;
	
	
}
.box-2 img{
	width: 300px;
	

}
.box-1 h3{
	padding: 15px;
	font-size: 16px;
}
.box-2 h3{
	padding: 15px;
	font-size: 16px;
}
.box-1 p{
	font-size: 12px;
	margin-bottom: 20px;
}
.box-2 p{
	font-size: 12px;
	margin-bottom: 20px;
}
.box-1 a{
	text-decoration: none;
	color: #fb2056;
	font-size: 12px;

}
.box-2 a{
	text-decoration: none;
	color: #fb2056;
	font-size: 12px;

}




.banner-2{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../image/adventure.jpg);
	background-size: cover;
	background-position: center;
}

.title-2{
	color: white;
    text-align: left;
    width: 400px;
    height: auto;
    padding-top: 205px;
    padding-left: 490px;
}
.title-2 h1{
	margin-bottom: 32px;
	font-size: 50px;
	font-weight: 600;
}
.title-2 p{
	font-size: 14px;
    font-weight: 300;
    margin-bottom: 35px;
}
.title-2 a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: white;
}
.tours{
	display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 175px;
    margin-bottom: 80px;
}

.row {
  display: flex;
  flex-basis: 50%;
}

.image{
	width: 580px;
	height: auto;
}

.img-1,.img-2,.img-3,.img-4{
	padding: 7px;
}
.text{
	margin-right: 20px;
}
.text h2{
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 25px;
}
.text p{
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 45px;
}
.text button{
    background-color: #fb2056;
    color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase
}
.footer{
	padding: 40px 0;
	background-color: #191919;
}
.copyright{
	text-align: center;
}
.copyright p{
	color: #d3d3d3;
	font-size: 12px;
	font-weight: 300;
}